
    <div class="panel panel-primary">
        <div class="panel-heading">New Todo</div>

        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" ng-model="vm.newTodo.name">
            </div>
            <div class="form-group">
                <label for="isComplete">is complete:</label>
                <input type="checkbox" name="isComplete" ng-model="vm.newTodo.isComplete">
            </div>
            <button class="btn btn-default" ng-click="vm.saveTodo()" ng-disabled="vm.saveIsActive()">save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">cancel</button>
        </form>
    </div>
