

<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.headerClick()">Home todos</div>

    <table class="table table-striped table-hover" ng-hide="vm.collapsed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Complete</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="todo in vm.todos">
                <td>
                    {{todo.name}}
                </td>
                <td>
                    {{todo.isComplete}}
                </td>
                <td>
                    <button class="btn btn-default" ng-click="vm.editTodo(todo)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    
                </td>
                <td>
                    
                    <button class="btn btn-default" ng-click="vm.deleteTodo(todo)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button class="btn btn-default" ng-click="vm.createTodo()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>                        
                </td>
            </tr>
        </tbody>
    </table>
</div>