
<a ui-sref="todo">view Todo list</a>
<div class="panel panel-primary">
    <div class="panel-heading" ng-click="vm.headerClick()">Home todos</div>

    <table class="table table-striped table-hover" ng-hide="vm.collapsed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Complete</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="todo in vm.todos">
                <td>
                    {{todo.name}}
                </td>
                <td>
                    {{todo.isComplete}}
                </td>
                <td>
                    <button class="btn btn-default" ng-click="vm.editTodo(todo)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="vm.deleteTodo(todo)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div ng-show="vm.showNew()">
                        <button class="btn btn-default" ng-click="vm.createTodo()"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div ng-show="vm.creating">
    <div class="panel panel-primary">
        <div class="panel-heading">New Todo</div>

        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" ng-model="vm.newTodo.name">
            </div>
            <div class="form-group">
                <label for="isComplete">is complete:</label>
                <input type="checkbox" name="isComplete" ng-model="vm.newTodo.isComplete">
            </div>
            <button class="btn btn-default" ng-click="vm.saveTodo()" ng-disabled="vm.saveIsActive()">save</button>
            <button class="btn btn-default" ng-click="vm.cancel()">cancel</button>
        </form>
    </div>
</div>



<div ng-show="vm.editing">
    <div class="panel panel-primary">
        <div class="panel-heading">Edit Todo</div>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" ng-model="vm.selectedTodo.name">
            </div>
            <div class="form-group">
                <label for="isComplete">is complete:</label>
                <input type="checkbox" name="isComplete" ng-model="vm.selectedTodo.isComplete">
            </div>

            <button class="btn btn-default" ng-click="vm.updateTodo()">update</button>
            <button class="btn btn-default" ng-click="vm.cancel()">cancel</button>
        </form>
    </div>
</div>